In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('data/train.csv')

In [3]:
labels= ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']

In [7]:
COMMENT = 'comment_text'
data[COMMENT].fillna("unknown", inplace=True)
train = data

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

import re, string
re_tok = re.compile(f'([{string.punctuation}“”¨«»®´·º½¾¿¡§£₤‘’])')
def tokenize(s): return re_tok.sub(r' \1 ', s).split()

tfidf_vectorizer = TfidfVectorizer(tokenizer=tokenize)
train_tfidfs = tfidf_vectorizer.fit_transform(train["comment_text"])

In [12]:
X = train_tfidfs
y = train['toxic']
y

0         0
1         0
2         0
3         0
4         0
5         0
6         1
7         0
8         0
9         0
10        0
11        0
12        1
13        0
14        0
15        0
16        1
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
159541    1
159542    0
159543    0
159544    0
159545    0
159546    1
159547    0
159548    0
159549    0
159550    0
159551    0
159552    0
159553    0
159554    1
159555    0
159556    0
159557    0
159558    0
159559    0
159560    0
159561    0
159562    0
159563    0
159564    0
159565    0
159566    0
159567    0
159568    0
159569    0
159570    0
Name: toxic, Length: 159571, dtype: int64

In [20]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
y_pred = mnb.fit(X,y).predict(X)

print(((y==y_pred).sum() / len(y_pred)))
#print("Number of mislabeled points out of a total %d points : %d" % (X.shape[0],(y != y_pred).sum()))

0.920016795032

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y,y_pred)

0.92001679503167866

In [24]:
y_multi = train[labels]
y_multi.sample(30)

        toxic  severe_toxic  obscene  threat  insult  identity_hate
25706       0             0        0       0       0              0
116922      0             0        0       0       0              0
98776       0             0        0       0       0              0
57237       1             0        0       0       0              0
26177       0             0        0       0       0              0
128744      0             0        0       0       0              0
52620       0             0        0       0       0              0
137316      0             0        0       0       0              0
115621      0             0        0       0       0              0
69727       0             0        0       0       0              0
117020      0             0        0       0       0              0
94779       0             0        0       0       0              0
63114       1             0        0       0       0              0
44657       1             0        0       0       0              0
14718       0             0        0       0       0              0
91996       0             0        0       0       0              0
19169       0             0        0       0       0              0
64654       1             0        0       0       0              0
133704      0             0        0       0       0              0
26681       0             0        0       0       0              0
49327       0             0        0       0       0              0
19495       0             0        0       0       0              0
147325      0             0        0       0       0              0
27963       1             0        0       0       0              0
56124       0             0        0       0       0              0
27198       1             1        1       0       1              1
92770       0             0        0       0       0              0
9482        0             0        0       0       0              0
30203       0             0        0       0       0              0
15915       0             0        0       0       0              0

In [25]:
mnb = MultinomialNB()
y_pred_multi = mnb.fit(X,y_multi).predict(X)
accuracy_score(y_multi,y_pred_multi)

ValueError: bad input shape (159571, 6)

In [27]:
y

0         0
1         0
2         0
3         0
4         0
5         0
6         1
7         0
8         0
9         0
10        0
11        0
12        1
13        0
14        0
15        0
16        1
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
159541    1
159542    0
159543    0
159544    0
159545    0
159546    1
159547    0
159548    0
159549    0
159550    0
159551    0
159552    0
159553    0
159554    1
159555    0
159556    0
159557    0
159558    0
159559    0
159560    0
159561    0
159562    0
159563    0
159564    0
159565    0
159566    0
159567    0
159568    0
159569    0
159570    0
Name: toxic, Length: 159571, dtype: int64

In [1]:
X

NameError: name 'X' is not defined