In [5]:
apple_computers = [l for l in open("data/apple-computers.txt").readlines()]
apple_fruit = [l for l in open("data/apple-fruit.txt").readlines()]

In [14]:
import pandas as pd
computer_df = pd.DataFrame(columns = ["text","label"])
computer_df["text"] = apple_computers
computer_df["label"] = 1

fruit_df = pd.DataFrame(columns = ["text","label"])
fruit_df["text"] = apple_fruit
fruit_df["label"] = 0

In [15]:
computer_df.sample(10)

                                                  text  label
171                               Main article: iPod\n      1
140  Alongside Google vice-president Vint Cerf and ...      1
317                         Music used by Apple Inc.\n      1
220                                             1976\n      1
192  Media reports emerged in early August that ann...      1
63                                                  \n      1
88   On November 10, 1997, Apple introduced the App...      1
30                                        Products\t\n      1
286  In October 2009, Apple upgraded the iMac and M...      1
287  In October 2011, Chinese authorities ordered a...      1

In [16]:
fruit_df.sample(10)

                                                  text  label
222  The proverb "An apple a day keeps the doctor a...      0
123                                                 \n      0
4                                                   \n      0
221                   Source: USDA Nutrient Database\n      0
8                           (unranked):\tAngiosperms\n      0
17                                      Borkh., 1803\n      0
193                           - Dietary fiber\t2.4 g\n      0
37                                            Genome\n      0
15                                     Binomial name\n      0
1    "Apple tree" redirects here. For other uses, s...      0

In [18]:
full_df = pd.concat([computer_df, fruit_df])
full_df.sample(10)

                                                  text  label
176  Apple currently sells four variants of the iPo...      1
43   The company was founded on April 1, 1976, and ...      1
266  Unlike other major US companies, Apple has a r...      1
1              From Wikipedia, the free encyclopedia\n      1
65             The first Macintosh, released in 1984\n      1
196                                   Water\t85.56 g\n      0
299                                                 \n      1
229  Apple's first slogan, "Byte into an Apple", wa...      1
32                                        Services\t\n      1
77   Following the success of the Macintosh LC, App...      1

In [19]:
full_df.describe()

            label
count  545.000000
mean     0.587156
std      0.492798
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [20]:
full_df["text"] = full_df["text"].str.strip()

In [26]:
full_df = full_df.drop(full_df[full_df.text.str.len() < 15].index)

In [27]:
full_df.sample(10)

                                                  text  label
233  See also: Criticism of Apple Inc.#Comparison w...      1
246  During the Mac's early history Apple generally...      1
306  In November 2012, Apple donated $2.5 million t...      1
79                       Red and Green apples in India      0
114  One cultivar can be pollinated by a compatible...      0
277                    Climate change and clean energy      1
139  About 69 million tonnes of apples were grown w...      0
207  Apple also offers online services with iCloud,...      1
205                        Folate (vit. B9)\t3 μg (1%)      0
44   The center of diversity of the genus Malus is ...      0

In [29]:
from sklearn.utils import shuffle
full_df = shuffle(full_df)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer()
X_counts = vec.fit_transform(full_df["text"])

In [31]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_counts, full_df["label"])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
y_hat = clf.predict(X_counts)

In [34]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

print(accuracy_score(y_hat, full_df["label"]))
print(f1_score(y_hat, full_df["label"]))

0.976973684211
0.981818181818